body{
    background: url(http://upload.wikimedia.org/wikipedia/commons/9/9c/Student_Union_%26_University_Library,_Northwestern.JPG);
    background-size: 100%;
    background-position: center top;  
    background-repeat: no-repeat;
}

.vertical-offset-100{
    padding-top:20px;
}

.CA_Title{
	text-align: center;
	font-size: 300%;
	padding-top:10px;
}